.v-application,
.headline,
.title,
.subheading{
     font-family: 'El Messiri' !important;
}
div#warningbackground { background-color: #ff0000; }
span#warningtext {
    color: #ffffff;
    font-size: 20px;
}
span#warningtext a {
        background-color: #ffffff;
	padding: 2px 5px 4px 5px;
	color: #0000ff;
}
